table{
    width:400px;
    height:400px;
 
    color:white;
   flex-wrap:wrap;
border-radius:10px;

display:block;


} 
table td{

    outline:1px solid;
    border-style: solid;
width:152px;
height:127px;
background-color:rgba(73, 73, 73, 0.527);
text-align:center;
border-radius:10px;
border:none;
font-weight: bolder;
font-size: xx-large;

    backdrop-filter: blur(10px) saturate(88%);
    -webkit-backdrop-filter: blur(10px) saturate(88%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    
    

}
body{
    background: rgb(238,174,202);
background: -moz-linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);

}
.box{
    display:flex;
    justify-content:center;
    align-items:center;
   margin-top:100px;
    
}
*{
font-family: 'Times New Roman', Times, serif;
color: #fff;
font-size: 24px;
text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

@media (max-width:480px) {
    .box{
        margin-top:100px;
    }
    
}
